.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* height: 408px px; */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* visibility: hidden; */
}

.modal--closed {
  visibility: hidden;
}

.modal__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  /* padding: 32px 50px; */
  max-width: 630px;
  width: 100%;
  margin-bottom: 32px;
}

.modal__title {
  display: flex;
  align-self: center;
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #212121;
}

.modal__close-btn {
  background-image: url(../images/close-btn_x.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: center;
}

.modal__close-btn:hover {
  opacity: 40%;
  transition: 0.25s;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 630px;
  width: 100%;
}

.modal__label {
  margin-right: auto;
  margin-bottom: 8px;
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: 0%;
}

.modal__input {
  padding: 16px 12px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid #21212166;
  border-radius: 8px;
}

.modal__submit-btn {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  background-color: #212121;

  border-radius: 8px;
  justify-content: center;
  padding: 16px 58px;
  border: none;
  cursor: pointer;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__submit-btn:hover {
  background-color: #212121cc;
  transition: 0.75s;
}

@media screen and (max-width: 730px) {
  .modal__box {
    margin: auto 10px;
    width: 300px;
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
  }

  .modal__label {
    text-align: left;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    align-self: normal;
  }
}
