.page {
  background-color: #fcf5e5; /*#00000050;*/
  margin: 0 auto;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  /* color: #000000; */
  padding-bottom: 60px;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
