.post {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  /* align-items: center; */
  /* max-width: 413px; */
}

.post__image {
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.post__delete-btn {
  background-image: url(../images/delete_trash_can_icon.svg);
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 100%;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.post__delete-btn:hover {
  background-image: url(../images/delete_trash_can_icon_hover.svg);
  transition: 0.55s ease-out;
}

.post__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0 0 0;
  /* align-content: flex-end; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__text {
  font-weight: 500;
  margin: 0 auto 0 0;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.post__like-btn {
  background-image: url(../images/like_heart_icon.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 40%;
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.post__like-btn:hover {
  opacity: 100%;
  transition: 1s;
}

.post__like-btn_clicked {
  background-image: url(../images/like_heart_red_icon.svg);
  opacity: 100%;
}

.post__like-btn_clicked:hover {
  background-image: url(../images/like_heart_red_hover_icon.svg);
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .post {
    padding: 0;
  }

  .post__image {
    height: 288px;
  }

  .post__text {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
  }

  .post__like-btn {
    width: 20px;
    height: 18px;
  }
}
